/*
============================
		font-color
============================
*/
.kode_attorney_detail_filed textarea:focus,
.kode_attorney_detail_filed input[type="text"]:focus,
.kode_attorney_caption_3 span,
.kf_login_password ul li  a:hover,
.kf_loging_input input:focus,
.law_form_area textarea:focus,
.law_form_filed input:focus,
.kode_law_blog2_ancar a,
.kode_law_blog2_caption span a,
.kode_law_business ul li a:hover,
.kode_law_property a,
.kode_law_story a,
.kode_law_frim_hdg h2 span,
.kode_law_arrow a,
.kode_law_need h3 span,
.kode_banner_law_caption strong,
.kode_banner_law_caption h3,
.kode_law_navi2 ul li a:hover,
.kode_about_us_latest_caption .kode_about_anker,
.kode_coming_form p a:hover,
.kode_coming_form form input:focus,
.kode_404_form  input:focus,
.kode_content_us_form textarea:focus,
.kode_content_us_form input:FOCUS,
.kode_attorney_detail_law span,
.kode_attorney_detail_practice ul li a:hover,
.kode_attorney_detail_filed textarea:focus,
.kode_attorney_detail_filed input:focus,
.kode_attorney_detail_call li a:hover,
.kode_attorney_detail_social ul li a:hover,
.kode_detail_2_filed textarea:focus,
.kode_detail_2_filed input:focus,
.kode_detail_2_comment_fig:hover  .kode_detail_2_replay  h5,
.kode_detail_2_comment_fig:hover .kode_detail_2_replay a,
.kode_detail_2_comment h4 span,
.kode_detail_2_caption  p,
.kode_detail_2_agency ul li a:hover,
.kode_blog_detail_news_cap ul li a:hover,
.kode_blog_categ_list li a.active span,
.kode_blog_categ_list li a:hover span,
.kode_blog_side_search input:focus,
.kode_blog_detail_search input:focus,
.kode_blog_detail_area textarea:focus,
.kode_blog_side_search form button,
.kode_blog_detail_content ul li a span,
.kode_detail_fa_right li a:hover,
.kode_detail_fa_right li a i,
.kode_detail_star ul li a,
.kode_detail_office ul li a:hover,
.law_achievements_img:hover .law_achievements_caption span,
.kode_blog_2_img:hover .kode_blog_2_read, 
.kode_blog_2_caption ul li a:hover,
.blog_more a:hover,
.kode_pagi_social ul li a:hover,
.kode_error_404 h2 span,
.kode_404_form  input:focus,
.kode_sing_up_kode input:focus,
.kode_about_03_TESTIMONIAL a:hover,
.top_navi_kode  a:hover,
.top_navi_search input:focus,
.kode_about_03_TESTIMONIAL,
.kode_about_03_icon span i,
.kode_about_03_caption span,
.kode_about_03_medical:hover a,
.kode_about_03_medical:hover span,
.kode_top_logo_caption a:hover,
.kode_about_us_competition_icon:hover span,
.kode_practice_detail_offices_caption p  a:hover,
.kode_about_us_latest_caption li a:hover,
.kode_about_us_competition_caption h5,
.kode_practice_about_us_caption a:hover,
.kode_services_caption span,
.kode_colum_3_img:hover .kode_colum_3_caption h5,
.kode_colum_3_img:hover .kode_colum_3_caption a,
.kode_content_us_footer_news input:focus,
.kode_content_us_footer_news:hover,
.kode_mapp_logo_img  figcaption h5,
.kode_services_caption a:hover,
.kode_op_strip_social_icon ul li a:hover,
.law_footer_caption input:focus,
.law_footer_caption input:hover,
.law_get button:hover,
.law_choose_us_kode a:hover,
.law_countdown_caption a:hover,
.law_addres_caption a:hover,
.law_addres_caption p > span:hover,
.law_footer_caption button:hover::before,
.law_footer_caption button,
.law_our_team_img span,
.law_latest_work_detail ul li a:hover,
.law_countdown_caption span,
.law_choose_us_icon i,
.law_practice_area_caption > a,
.law_practice_area_caption span,
.banner_caption a,
.banner_caption strong,
.law_navigation_social_icon ul li a,
.top_navi_circal:hover span,
.top_strip_soical ul li a:hover,
.top_strip_caption a,
.kode_law_property.law_pro_3:hover .kode_law_property_caption.law_caption_3 span i,
.law_form_filed input[type="text"]:focus,

.kf_login_social_icon h5 > a:hover,
.kode_detail_layer figcaption h6 > a:hover
{
	/* color:#696969; */
	color:#000;
	
}
/*
============================
		background-color
============================
*/
.kode_blog_img:hover figure::before,
.kode_blog_img figcaption a:hover,
.kf_login_social_icon ul li a,
.kode_attorney_caption_3 ul  li a:hover,
.kode_attorney_img_3:hover figure::before,
.kf_login_singin button,
.kf_loging_input::before,
.kf_loging_input::after,
.kf_login_1,
.kode_area_02_img:hover figure::before,
.kode_law_arrow a:hover,
.kode_law_blog2_fig:hover .kode_law_blog2_ancar::before,
.kode_law_blog2_fig:hover .kode_law_blog2_social::before,
.kode_law_load a:hover,
.kode_attorney_img:hover .kode_attorney_caption::before,
.kode_law_gallery_img:hover figure::before,
.kode_law_fig_cap a:hover,
.kode_law_property:hover .kode_law_property_caption span,
.kode_law_navi2 ul ul li a:hover,
.kode_colum_3_img strong,
.kode_about_us_competition_caption a i,
.kode_law_banner_2 .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.kode_law_banner_2 .bx-wrapper .bx-pager.bx-default-pager a.active,
.kode_banner_law_caption ul li a.active,
.kode_banner_law_caption ul li a:hover,
.kode_law_navi2 > a,
.kode_practice_about_us_chack:hover span,
.banner_caption a:hover,
.kode_top_header_navi ul ul li a:hover,
.kode_coming_social  li a.active,
.kode_coming_social  li a:hover,
.kode_coming_form form button,
.law_footer_caption button:hover,
.kode_attorney_detail_hdg h4,
.kode_attorney_detail_filed button,
.kode_attorney_detail_question h4,
.kode_attorney_detail_accordian .panel-title a:focus,
.kode_attorney_detail_accordian .panel-title a.active,
.kode_attorney_detail_accordian .panel-title a:hover, 
.kode_attorney_detail_downlod a,
.kode_detail_2_filed  button,
.kode_detail_2_left:hover,
.kode_detail_2_social ul li a.active,
.kode_detail_2_social ul li a:hover,
.kode_detail_2_history h5,
.kode_detail_2 ul li h5 a:focus,
.kode_blog_detail_tags ul li a:hover,
.kode_blog_detail_news span,
.kode_blog_categ_list li a.active,
.kode_blog_categ_list li a:hover,
.kode_blog_filed_search button,
.kode_blog_detail_social ul li a.active,
.kode_blog_detail_social ul li a:hover,
.kode_blog_detail_image figcaption,
.kode_detail_layer:hover span,
.kode_detail_accor_tab .panel-title > a:focus,
.kode_detail_accor_tab .panel-title > a.active,
.kode_detail_accor_tab .panel-title > a:hover,
.kode_detail_2 ul li h5 a.active,
.kode_detail_office ul li a i,
.kode_detail_2 ul li h5 a:hover,
.kode_area_03_caption a,
.kode_area_02_img figcaption a:hover,
.kode_area_02_caption a:hover,
.kode_blog_2_img:hover figcaption,
.kode_pagi_social .pagi_right,
.kode_pagi_social .pagi_left,
.kode_404_form a,
.kode_about_03_slider .bx-wrapper .bx-controls-direction  .bx-prev::after,
.kode_about_03_slider .bx-wrapper .bx-controls-direction  .bx-next::before,
.kode_practice_detail_services_img:hover figure::before,
.kode_practice_detail_offices_icon:hover span,
.kode_practice_detail_download ul li a,
.kode_practice_detail_social_tabs ul li a:focus,
.kode_practice_detail_social_tabs ul li a.active,
.kode_practice_detail_social_tabs ul li a:hover,
.kode_about_us_latest_news .panel-heading a:focus,
.kode_about_us_latest_news .panel-heading a.active,
.kode_about_us_latest_news .panel-heading a:hover,
.kode_about_us_span h5,
.kode_about_us_silde .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.kode_about_us_silde .bx-wrapper .bx-pager.bx-default-pager a.active ,
.kode_about_us_competition_caption:hover a i,
.kode_about_us_competition_caption a,
.kode_about_us_legal:hover a,
.kode_about_us_legal span,
.kode_practice_readmore a,
.kode_practice_filter_list ul li a:focus,
.kode_practice_filter_list ul li a.active,
.kode_practice_filter_list ul li a:hover,
.kode_sing_up_kode button:hover,
.kode_copyright_soical_icon ul a:hover,
.kode_content_us_footer_news a:hover,
.kode_content_us_footer_post:hover a,
.kode_content_sing_up,
.kode_content_us_form button:hover,
.kode_services_caption:hover span,
.kode_top_logo_icon:hover i,
.law_form_img_caption::before,
.law_footer_social_icon li a:hover,
.law_footer_caption button:hover::before,
.law_get button,
.law_achievements_img:hover .law_achievements_caption i,
.law_our_team_img ul li a:hover,
.law_choose_us_kode::after,
.law_practice_area_caption > a:hover,
.sab_banner .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.sab_banner  .bx-wrapper .bx-pager.bx-default-pager a.active,
.law_navigation_bar,
.top_navi_search a,
.top_navi_circal  span,
.bar,

.kf_loging_input label,
.kode_span_list span:nth-of-type(even)
 {
	 background:#696969;
	 /* background: url(../image/home/form-bg.jpg); */
	 /* background-position: start; */
	 /* background-size: cover; */
}
.kode_law_area_2 .owl-buttons .owl-prev:hover:before,
.kode_law_area_2 .owl-buttons .owl-next:hover:before{
	background-color:#a12e4d;
	color:#fff;
}



/*
============================
		border-color
============================
*/
.kode_services_caption:hover::before,
.kode_content_us_form input[type="text"]:focus,
.kode_attorney_detail_filed textarea:focus,
.kode_attorney_detail_filed input[type="text"]:focus,
.law_form_filed input,
.kf_loging_input input:focus,
.kode_law_load a:hover,
.kode_law_property:hover .kode_law_property_caption span,
.kode_law_property:hover::before,
.kode_content_us_footer_post a,
.kode_coming_social  li a.active,
.kode_coming_social  li a:hover,
.kode_coming_form form input:focus,
.law_footer_caption input:focus,
.kode_404_form  input:focus,
.kode_content_us_form textarea:focus,
.kode_content_us_form input:focus,
.kode_attorney_detail_practice::before,
.kode_attorney_detail_question::before,
.kode_attorney_detail_filed textarea:focus,
.kode_attorney_detail_filed input:focus,
.kode_attorney_detail_fig figure,
.kode_attorney_detail_accordian .panel-title a:focus,
.kode_attorney_detail_accordian .panel-title a.active,
.kode_attorney_detail_accordian .panel-title a:hover,
.kode_detail_2_filed textarea:focus,
.kode_detail_2_filed input:focus,
.kode_detail_2_left:hover,
.kode_detail_2_senior figure,
.kode_blog_detail_tags ul li a:hover,
.kode_blog_detail_news:hover figure::before,
.kode_blog_categ_list li:first-child,
.kode_blog_categ_list li a:hover span,
.kode_blog_categ_list li a:hover,
.kode_blog_side_search input:focus,
.kode_blog_detail_area textarea:focus,
.kode_blog_detail_search input:focus,
.kode_detail_layer,
.kode_detail_2 ul li h5 a:hover,
.kode_area_02_caption a,
.kode_area_02_caption h4::before,
.kode_area_02_hdg p::before,
.kode_blog_2_img:hover::before,
.kode_pagi_social .pagi_right,
.kode_pagi_social .pagi_left,
.kode_attorney_caption,
.top_navi_search input:focus,
.law_footer_caption button:hover,
.kode_about_03_tabs:hover,
.kode_about_03_medical:hover span,
.kode_content_us_footer_news input:focus,
.kode_practice_detail_offices h4::before,
.kode_practice_detail_download h4::before,
.kode_practice_detail_social_list h2::before,
.kode_about_us_latest_news h3::before,
.kode_about_us_silde_caption img,
.kode_about_us_competition_icon:hover,
.law_our_team_hdg_1 h2::before,
.kode_abouts_us_hdg  h2::after,
.kode_about_us_what_hdg h2::before,
.kode_abouts_us_hdg  a::after,
.kode_practice_about_us_chack span,
.kode_colum_3_img:hover figure::before,
.kode_copyright_soical_icon ul a:hover,
.kode_content_us_footer_post a,
.kode_services_caption:hover::before,
.kode_services_caption span,
.kode_top_logo_icon a,
.law_choose_us_kode a,
.top_navi_circal  span:hover,
.banner_caption a,
.law_footer_caption button,
.law_achievements .bx-wrapper .bx-pager.bx-default-pager a:hover,
 .law_achievements .bx-wrapper .bx-pager.bx-default-pager a.active,
.law_achievements_caption ul::before,
.law_achievements_img:hover .law_achievements_caption::before,
.law_our_team_img:hover::before,
.law_choose_us_row  ul li::after,
.law_choose_us_row  ul li::after,
.law_practice_area_caption > a,
.law_practice_area_caption:hover::before,
.banner_caption a, 
.law_form_filed input[type="text"]:focus,
.law_form_area textarea:focus,
.kf_loging_input input[type="text"]:focus{
	border-color:#ffffff;
}
/*
============================
		transition-color
============================
*/
.kode_blog_img figcaption,
.kode_blog_img figure::before,
.kode_blog_img figcaption a,
.kode_law_property a,
.kode_law_property_caption.law_caption_3 span:after,
.kode_law_property .kode_law_property_caption.law_caption_3 span i,
.kf_login_social_icon ul li a,
.kode_attorney_caption_3 ul  li a,
.kode_attorney_img_3 strong,
.kode_attorney_img_3 figure::before,
.kf_login_password ul li  a,
.kode_law_navi2 ul li a::after,
.kode_law_navi2 ul li a::before,
.kode_law_arrow a,
.kode_law_client2_fig figure,
.kode_law_blog2_fig,
.kode_law_blog2_ancar a,
.kode_law_blog2_ancar::before,
.kode_law_blog2_social,
.kode_law_blog2_social::before,
.kode_attorney_caption::before,
.kode_law_load a,
.kode_law_fig_cap,
.kode_law_gallery_img figure::before,
.kode_law_fig_cap a,
.kode_law_fig_cap a::before,
.kode_law_business ul li a,
.kode_law_property,
.kode_law_property_caption span,
.kode_law_property::before,
.kode_top_login_2 li a,
.kode_social_2 .kode_top_social_law_2 li a,
.kode_top_phon_2 li a,
.kode_banner_law_caption ul li a,
.kode_law_navi2 ul li a,
.kode_law_navi2 > a,
.kode_practice_about_us_chack span,
.kode_about_us_legal span::before,
.kode_practice_about_us_chack:hover span,
.kode_practice_detail_social_tabs ul li  a::before,
.kode_practice_detail_social_tabs ul li  a,
.kode_coming_form p a,
.kode_coming_social  li a,
.kode_coming_form form button,
.kode_attorney_detail_law span,
.kode_attorney_detail_practice ul li a,
.kode_attorney_detail_filed button,
.kode_attorney_detail_law p,
.kode_attorney_detail_law h6 a,
.kode_attorney_detail_law,
.kode_attorney_detail_accordian .panel-title,
.kode_attorney_detail_accordian .panel-title a ,
.kode_attorney_detail_downlod a,
.kode_attorney_detail_call li a,
.kode_attorney_detail_social ul li a,
.kode_detail_2_filed  button,
.kode_detail_2_replay h5,
.kode_detail_2_replay a,
.kode_detail_2_left  a,
.kode_detail_2_left  p,
.kode_detail_2_left,
.kode_detail_2_social ul li a,
.kode_detail_2_agency ul li a,
.law_practice_area_caption > a,
.kode_area_03_caption a,
.kode_practice_readmore a,
.kode_blog_detail_tags ul li a,
.kode_blog_detail_news span,
.kode_blog_detail_news figure::before,
.kode_blog_detail_news_cap ul li a,
.kode_blog_categ_list li a span,
.kode_blog_categ_list li a,
.kode_blog_filed_search button,
.kode_detail_replay span,
.kode_detail_replay p,
.kode_detail_replay h5 i,
.kode_detail_replay h5,
.kode_detail_comment_fig,
.kode_blog_detail_social ul li a,
.kode_detail_layer a,
.kode_detail_layer span,
.kode_detail_star ul li a,
.kode_detail_2 ul li h5 a::before,
.kode_detail_fa_right li a,
.kode_detail_accordian .panel-title  a,
.kode_detail_office ul li a,
.kode_detail_2 ul li h5 a,
.kode_area_03_caption,
.kode_area_02_caption a,
.kode_area_02_img figcaption a,
.kode_area_02_img figcaption,
.kode_area_02_img figure::before,
.law_achievements_caption span,
.kode_blog_2_img::before,
.kode_blog_2_img .kode_blog_2_read, 
.kode_blog_2_caption ul li a,
.kode_blog_2_img figcaption,
.blog_more a,
.kode_pagi_social ul li a,
.kode_attorney_caption ul li a,
.kode_attorney_caption,
.kode_404_form a,
.kode_about_03_TESTIMONIAL a,
.top_navi_kode  a,
.kode_about_03_client_img figure,
.kode_about_03_img > figure::before,
.kode_about_03_img > figure::after,
.kode_about_03_tabs p,
.kode_about_03_tabs span,
.kode_about_03_medical a,
.kode_about_03_medical span,
.kode_practice_detail_img img,
.kode_top_logo_icon i,
.kode_top_logo_caption a,
.kode_colum_3_img figure img,
.law_achievements_img_kode img,
.kode_about_us_competition_icon span,
.kode_practice_detail_download ul li a,
.kode_practice_detail_offices_icon span,
.kode_practice_detail_offices_caption p  a,
.kode_practice_detail_social_list ul li  a::before,
.kode_practice_detail_social_list ul li  a,
.kode_about_us_latest_news .panel-heading a::before,
.kode_about_us_latest_news .panel-heading a,
.kode_about_us_latest_caption li a,
.kode_about_us_competition_caption a i,
.kode_about_us_competition_caption a,
.kode_about_us_competition_icon,
.kode_about_us_legal a,
.kode_practice_about_us_caption h2 a,
.kode_colum_3_caption h2,
.kode_colum_3_img figcaption,
.kode_colum_3_img figure::before,
.kode_colum_3_caption a,
.kode_practice_readmore a,
.kode_practice_filter_list ul li a,
.kode_top_header_navi a,
.kode_sing_up_kode button,
.kode_copyright_soical_icon ul a,
.kode_copyright_nav ul li a,
.kode_content_us_footer_news a,
.kode_content_us_footer_post a,
.kode_content_us_footer_caption ul li a,
.kode_content_us_form button::before,
.kode_content_us_form button,
.kode_services_caption::before,
.kode_services_caption a,
.kode_services_caption span,
.kode_banner_caption ul li a,
.kode_top_logo_icon a,
.kode_op_strip_social_icon ul li a,
.kode_top_strip_navi ul li a,
.law_get button,
.law_choose_us_kode a,
.law_addres_caption a,
.law_countdown_caption a,
.law_footer_caption button,
.law_practice_area_img > figure::after,
.top_navi_search  a,
.law_footer_social_icon li a,
.law_achievements_caption::before,
.law_achievements_caption,
.law_achievements_caption i,
.law_our_team_img ul li a,
.law_our_team_img ul,
.law_our_team_img,
.law_our_team_img::before,
.law_latest_work_detail ul li a,
.law_practice_area_caption a,
.law_practice_area_caption p,
.law_practice_area_caption h3,
.law_practice_area_caption span,
.law_practice_area_caption::before,
.law_practice_area_caption,
.top_navi_circal  span,
.banner_caption a,
.banner_caption a::before,
.law_navigation_social_icon ul li a,
.law_navigation_list .law_navigtion ul li a,
.top_strip_soical ul li a,

.kode_law_area_2 .owl-buttons .owl-prev,
.kode_law_area_2 .owl-buttons .owl-prev:before,
.kode_law_area_2 .owl-buttons .owl-next:before,
.kode_law_area_2 .owl-buttons .owl-next,
.kode_law_navi2 ul ul,
.kode_law_navi2 ul ul ul,
.kode_law_fig_cap,
.law_form_filed input[type="text"],
.kode_law_client2_fig figure,

.kode_top_phon_2 li i,
.kf_login_singin button,
.panel,
.panel-heading,
.collapse,
.panel-body,
.kode_detail_layer figcaption h6 > a
{
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
}	